<div class="container">
    <fieldset>
        <label for="characters">Enter Characters:</label>
        <input type="password" id="_myCharacterInput">
    </fieldset>
    <fieldset>
        <label for="key">Enter your Key:</label>
        <input type="password" id="_myExampleKey">
    </fieldset>
    <button class="send-button" id="send-button" onclick="_makeYourSecretPassword()">Generate</button>
    <button class="ready-button" id="ready-button" onclick="_finallyGetOutput()">Ready!</button>

    <h6 id="new-secret-password-generate"></h6>
</div>